<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="姬鹏辉的博客网站">
  <meta name="description" content="个人搭建的博客，记录学习历程">

  <title>主页</title>

  <div th:include="common :: commonCSS"></div>
  <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css">
</head>

<body>

<div th:replace="common :: commonHeader"></div>

<div class="big_img_box">
  <img src="../static/imgs/big_img.jpg" th:src="@{/imgs/big_img.jpg}" alt="" class="big_img">
  <div></div>
</div>
<div class="main">
  <div class="main_body">
    <div class="sidebar">
      <div class="information_div shadow">
        <div class="icon_div"><img src="../static/imgs/icon.jpg" th:src="@{/imgs/icon.jpg}" alt=""></div>
        <div class="writer"><p>Blog</p></div>
        <div class="motto">
          <p>phrase,phrase,phrase,phrase,phrase,phrase,phrase,phrase,phrase,</p>
        </div>
        <div class="articles_num_tags">
          <div class="articles_num_div">
            <p class="articles_tags_name">Articles</p>
            <p class="num">100</p>
          </div>
          <div class="tags_num_div">
            <p class="articles_tags_name">Tags</p>
            <p class="num">30</p>
          </div>
        </div>
        <div class="call_me">
          <ul>
            <li><a href="#">QQ</a></li>
            <li><a href="#">WeiXin</a></li>
            <li><a href="#">Github</a></li>
          </ul>
        </div>
      </div>
      <div class="announcement_div shadow">
        <h2 class="notice">announcement</h2>
        <p class="notice_content">这是一段通知这是一段通知这是一段通知这是一段通知这是一段</p>
      </div>
      <div class="tags_div shadow">
        <h2 class="notice">Tags</h2>
        <ul class="tags_ul">
          <li><a href="#">机器学习</a></li>
          <li><a href="#">算法</a></li>
          <li><a href="#">特征工程学习</a></li>
          <li><a href="#">Ubuntu</a></li>
          <li><a href="#">Docker</a></li>
        </ul>
      </div>
    </div>
    <div class="blog_list">
      <ul class="blog_list_ul">
        <li class="blog_list_li shadow">
          <div class="blog_content_div">
            <div class="blog_img_div">
              <a href="#"><img src="../static/imgs/img.png" th:src="@{/imgs/img.jpg}" alt="" class="blog_img"></a>
            </div>
            <div class="blog_content">
              <div class="content_container">
                <a href="#"><h1>这个是博客标题</h1></a>
                <div class="blog_time_div">这里面可放博客时间</div>
                <div class="blog_abstract">
                  <p>
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="blog_list_li shadow">
          <div class="blog_content_div">
            <div class="blog_img_div">
              <a href="#"><img src="../static/imgs/img.png" th:src="@{/imgs/img.jpg}" alt="" class="blog_img"></a>
            </div>
            <div class="blog_content">
              <div class="content_container">
                <a href="#"><h1>这个是博客标题</h1></a>
                <div class="blog_time_div">这里面可放博客时间</div>
                <div class="blog_abstract">
                  <p>
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="blog_list_li shadow">
          <div class="blog_content_div">
            <div class="blog_img_div">
              <a href="#"><img src="../static/imgs/img.png" th:src="@{/imgs/img.jpg}" alt="" class="blog_img"></a>
            </div>
            <div class="blog_content">
              <div class="content_container">
                <a href="#"><h1>这个是博客标题</h1></a>
                <div class="blog_time_div">这里面可放博客时间</div>
                <div class="blog_abstract">
                  <p>
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="blog_list_li shadow">
          <div class="blog_content_div">
            <div class="blog_img_div">
              <a href="#"><img src="../static/imgs/img.png" th:src="@{/imgs/img.jpg}" alt="" class="blog_img"></a>
            </div>
            <div class="blog_content">
              <div class="content_container">
                <a href="#"><h1>这个是博客标题</h1></a>
                <div class="blog_time_div">这里面可放博客时间</div>
                <div class="blog_abstract">
                  <p>
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="blog_list_li shadow">
          <div class="blog_content_div">
            <div class="blog_img_div">
              <a href="#"><img src="../static/imgs/img.png" th:src="@{/imgs/img.jpg}" alt="" class="blog_img"></a>
            </div>
            <div class="blog_content">
              <div class="content_container">
                <a href="#"><h1>这个是博客标题</h1></a>
                <div class="blog_time_div">这里面可放博客时间</div>
                <div class="blog_abstract">
                  <p>
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                    这里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容里面是博客内容
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pages">
        <ul class="pages_ul">
          <li class="shadow"><a href="#"><div class="page_num shadow">1</div></a></li>
          <li class="shadow"><a href="#"><div class="page_num shadow">2</div></a></li>
          <li class="shadow"><a href="#"><div class="page_num shadow">3</div></a></li>
          <li class="shadow"><a href="#"><div class="page_num shadow">4</div></a></li>
          <li class="shadow"><a href="#"><div class="page_num shadow">5</div></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div th:include="common :: commonFooter"></div>
</div>
<a href="#">
  <div class="go_top">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
      <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
    </svg>
  </div>
</a>

<div th:include="common :: commonJS"></div>
</body>
</html>
